.container {
    display: grid;
    grid-template-areas:
    "square1 square2 square3"
    "square4 square5 square6"
    "square7 square8 square9";
    justify-content: center;
    grid-row-gap: -0.15220700152207vh;
    grid-column-gap: 0px;
    }
#s1 {
    grid-area: square1;
}
#s2 {
    grid-area: square2;
}
#s3 {
    grid-area: square3;
}
#s4 {
    grid-area: square4;
}
#s5 {
    grid-area: square5;
}
#s6 {
    grid-area: square6;
}
#s7 {
    grid-area: square7;
}
#s8 {
    grid-area: square8;
}
#s9 {
    grid-area: square9;
}
.square {
    width: 14.459665144596652vh;
    height: 14.459665144596652vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 0.45662100456621vh;
  }